.main{
    background-image: url(https://img.search.brave.com/qN9KPGJoByS15m3NRVccuFgf0GA4UdVdGG4SSqbru7Y/rs:fit:1200:1200:1/g:ce/aHR0cHM6Ly9pbWFn/ZXMucGV4ZWxzLmNv/bS9waG90b3MvMTU5/ODcyL2Jvb2stb3Bl/bi1wYWdlcy1saXRl/cmF0dXJlLTE1OTg3/Mi5qcGVnP2NzPXNy/Z2ImZGw9YmxhY2st/YW5kLXdoaXRlLWJv/b2stcGFnZXMtMTU5/ODcyLmpwZyZmbT1q/cGc);
    background-size: cover;
    background-repeat: no-repeat;

}
.btn{
    width: 100%;
    font-size: 100%;
    color: aliceblue;
    background-color: rgb(25, 143, 25);
}
.btn:hover{
    font-size: 110%;
    color: aliceblue;
    
    transition: 0.5s;
}

.container{
    background-color: rgba(82, 80, 80, 0.315);
    height: 220px;
    width: 500px;
    margin-top: 2%;
   
   
}
@media only screen and (max-width: 360px)  
{
    .main{
        background-size: 400%;
        font-size: 170%;
    }
    .list{
        margin-right: 20px;
        
    }
    .display-4{
        text-align: center;
        font-size: 255%;
    }
    .form-group{
        width: 30vh;
    }
    .btn{
        width: 15vh;
    }
    .container{
        width: 260px;
        margin-top: 30%;
        margin-left: 5%;
    }
}




#list{
    color: aliceblue;
    margin-bottom: 10px;
}

.display-4{
    color: aliceblue;
    margin-top: 5%;
    text-align: center;
}


